/* color palette from <https://github.com/vuejs/theme> */
:root {
  --main-bg-color:rgb(231,231,231);
  --second-bg-color:rgb(88,86,86);
}

/* semantic color variables for this project */
:root {

}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

*,
*::before,
*::after {
  
}

body {
  background-color:var(--main-bg-color);
  margin: 0;
}
ul {
  padding:0
}